<div class="container">
  <div class="row">
    <div class="col-md-3 pt-5">
      <%= render 'admin/genres/genres_list', genres: @genres %>
    </div>
    <div class="col-md-8 offset-md-1 pt-5">
      <% @foods.each do |food| %>
        <tr>
          <td>
            <%= link_to admin_user_path(food.user) do %>
              <%= image_tag food.user.get_image(60, 60), class: 'rounded-circle' %>
              <%= food.user.name %>
            <% end %>
          </td>
        </tr>
        <%= link_to admin_food_path(food) do %>
          <table class="table table-borderless border">
            <tr class="col-md-12">
              <td><%= image_tag food.get_food_image(150,150) %></td>
            </tr>
            <tr class="col-md-12">
              <th class="col-md-3">テーマ</th>
              <td><%= food.title %></td>
            </tr>
            <tr>
              <th>ジャンル</th>
              <td><%= food.genre.name %></td>
            </tr>
            <tr>
              <th>献立</th>
              <td><%= food.menu %></td>
            </tr>
            <tr>
              <th>アピールポイント</th>
              <td><%= food.point %></td>
            </tr>
            <tr>
              <th>投稿日</th>
              <td><%= food.created_at.strftime('%Y年%m月%d日') %></td>
            </tr>
          </table>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
