<div class="container px-5 px-sm-0">
  <div id="error_explanation">
    <%= render 'layouts/error_messages', obj: @genre %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="float-left font-weight-bold px-3 my-3">ジャンル一覧・追加</h3>
    </div>
  </div>
  <%= form_with model: @genre, url: admin_genres_path, local: true do |f| %>
  <div class="row form-group my-5">
    <div class="col-4 offset-1">
      <%= f.text_field :name, class: "form-control ", id: "inputName", placeholder: "ジャンル名" %>
    </div>
    <div class="col-2">
      <%= f.submit "新規登録", class:"btn btn-block btn-success w-75" %>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="col-7">
      <table class="table">
        <thead class="table-bordered text-center">
          <tr>
            <th>ジャンル</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="table-bordered">
          <% @genres.each do |genre| %>
          <tr>
            <td class="col-4"><%= genre.name %></td>
            <td class="col-3"><%= link_to "削除する", admin_genre_path(genre), method: :delete, "data-confirm" => "ジャンルを削除しますか？" , class: "btn btn-block btn-danger  w-50 mx-auto" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>